@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

:root {
    --theme-primary-color:#c9192e;
    --theme-header-border-color: #ffffff29;
    --theme-border-radius: .5rem;
    --theme-def-transition: .4s ease-in-out all;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
}

.title- span,
h1,
h2,
h3,
h4,
h5,
h6,
.theme-button, .product-body span.price {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
}

img {
    width: 100%;
    height: auto;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.shop-home-featured-products {
    padding:4rem 0 0 0;
}

/*--------------------------------------------------------------------
## Header
------------------------------------------------------------------  */
.header-top-bar {
    border-bottom: 1px solid var(--theme-header-border-color);
}

.header-top-bar ul li {
    flex-grow: 1;
    text-align: center;
}

.header-top-bar ul li:first-child {
    flex-grow: 3;
    text-align: unset;
}

.header-bottom-bar,
.header-top-bar {
    font-size: .8rem;
}

.header-top-bar ul li:last-child {
    flex-grow: 2;
}

.header-top-bar ul li:first-child i {
    margin: 0 .5rem 0 0;
}

.header-top-bar ul li i {
    margin: 0 0 0 .25rem;
}

.header-top-bar ul li {
    position: relative;
}

.header-top-bar ul li:last-child::before {
    content: '';
    position: absolute;
    background: var(--theme-header-border-color);
    height: 93px;
    width: 1px;
    left: 0;
    top: -40px;
}

.new-arrivals-card,
.shop-header {
    z-index: 9999;
}

.header-top-bar {
    overflow: hidden;
}

.shop-home-banner {
    height: 100vh;
}

.shop-home-banner img {
    top: 0;
    object-fit: cover;
    left: 0;
}

.site-logo img {
    width: 80%;
}

.new-arrivals-card::before, 
.title- h1::before, 
.product-body .product-title::before,
.shop-home-banner::before {
    content: '';
    position: absolute;
}

.new-arrivals-card::before, .shop-home-banner::before {
	background: rgba(0, 0, 0, 0.35);
	height: 100%;
	width: 100%;
	z-index: 9;
	top: 0;
	left: 0;
}

.title-,
.product-body,
.shop-home-banner div {
    z-index: 999;
}

.product-view-addtocart i:hover, 
.site-footer *,
.header-top-bar ul li,
.header-top-bar ul li a,
.header-bottom-bar * {
    color: #fff;
}

.theme-button {
    padding: .75rem 1.5rem;
}

.form-check-input:checked,
.product-view-addtocart i:hover, 
.header-top-bar ul li:last-child span,
.theme-button {
    background-color: var(--theme-primary-color);
}

.header-bottom-bar {
    margin: 1.5rem 0 0 0;
}

.header-top-bar ul li:last-child span {
    transform: translate(-8px, -8px);
    display: inline-block;
    padding: 0 3px;
    font-size: 12px;
}

.header-top-bar ul li i {
    font-size: 1rem;
}

.shop-section-title .form-check,
.product-body span.price,
.header-top-bar ul li,
.header-top-bar ul li a,
.header-bottom-bar * {
    font-weight: 400;
}

/*--------------------------------------------------------------------
## Footer
------------------------------------------------------------------  */
.site-footer {
    background-color: #1f1f1f;
    padding: 5rem 0;
}

.site-footer {
    background-color: #1f1f1f;
    padding: 5rem 0;
}

/*--------------------------------------------------------------------
## Pages
------------------------------------------------------------------  */
.shop-home-banner h1 {
    font-size: 5rem;
    margin-top: 110px;
    letter-spacing: 8px;
}

.shop-home-banner p {
    font-size: 1.2rem;
}

.shop-section-title {
    margin: 0 0 2rem;
}

.shop-section-title .form-check {
    color: #8c8c8c;
}

.new-arrivals-card img {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: -1;
	left: 0;
	top: 0;
}

.title- h1 {
	width: 50%;
}

.title- h1 {
	margin: 0 0 2rem;
}

.title- span {
	font-size: 10rem;
	right: 0;
	top: 0;
	color: #fff;
	opacity: .2;
}

.new-arrivals-card {
	padding:4rem;
	margin-left: 3px;
	margin-top: -1px;
}

/*--------------------------------------------------------------------
## Components
------------------------------------------------------------------  */
.product-gender-filter {
    width: 50%;
}

.product-gender-filter li {
    flex-grow: 1;
}

.form-check label {
    margin: 0 0 0 .5rem;
}

.form-check .form-check-input {
    float: unset;
}

.shop-product-card img {
	height: 86px;
	width: auto;
	object-fit: contain;
	margin-bottom: 1rem;
	margin-top: 2rem;
}

.shop-product-card {
    height: 324px;
    border: 1px solid rgb(223, 223, 223);
}

.shop-home-featured-products .row:nth-child(2) .col{
    margin-left: -1px;
}

a:hover,
.product-body span.price {
    color: var(--theme-primary-color);
}

.title- h1::before, 
.product-body .product-title::before {
    background: #333;
    width: 17%;
    height: 2px;
    left: 0;
    right: 0;
    margin: 0px auto;
    bottom: -12px;
}

.product-body .product-title {
    margin: 0 auto 1.25rem;
    width: 80%;
}

.col:first-child .shop-product-card{
    border-left: 1px solid transparent;
}

.col:last-child .shop-product-card{
    border-right: 1px solid transparent;
}

.shop-product-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .21);
}

.product-view-addtocart i, 
.product-view-addtocart,
.shop-product-card {
    transition:var(--theme-def-transition);
}

.product-view-addtocart {
	position: absolute;
	top: 0;
	right: 0;
	margin: 1rem;
	opacity: 0;
	visibility: hidden;
}

.product-view-addtocart i {
	margin-left: .25rem;
	padding: 6px 8px;
}

.product-view-addtocart i,
.header-top-bar ul li:last-child span{
	border-radius: 4px;
}

.shop-product-card:hover .product-view-addtocart{
    opacity:1;
    visibility:visible;
}

.product-body .product-title, 
.product-view-addtocart i{
    cursor:pointer;
}

.title- h1::before {
	background: #fff;
	margin: unset;
}

/* Unsets  */
.form-check-input:focus {
	border-color:unset;
	box-shadow: unset;
}

.form-check-input:checked {
	border-color: transparent;
	border: none;
}

